In [8]:
import pandas as pd

REPLACING THE VALUES USING REGEX

In [9]:
df = pd.read_excel("C:\\Users\\harip\\Desktop\\refrence\\data_science\\dataset\\crop.xlsx")
df.head()

,Sl.No,Sample No,Farmer Name,Land Area,Survey No,Longitude,Lattitude,pH,EC,OC,...,Cu,Mn,B,Fertility Index,Crop Name,Irrigation Pattern,Crop Rotation,Fertilizer Used,Yield Returns,YR(Label)
0,1,KA622935/2017-18/22220754,S.Krishnamurthy,1.50,1,78.571944,13.167778,7.20000 MAl,0.91000 N,0.41000 L,...,1.38000 S,4.32000 S,0.60000 S,2,High Yield of Millet,Rainfeed,Yes,InOrganic,Moderate,3
1,2,KA622935/2018-19/25750616,S.NAGABHUSHANA,0.16,3,78.292426,13.109093,6.60000 SlAc,0.66000 N,0.12000 VL,...,2.46000 S,58.79000 S,0.50000 D,2,High Yield of Millet,Rainfeed,Yes,InOrganic,Moderate,3
2,3,KA622935/2017-18/24870613,G RAMAKRISHNAPPA S/O GURRAPPA,0.20,5,78.557222,13.194722,7.60000 MAl,0.54000 N,0.15000 VL,...,0.83000 S,4.98000 S,0.50000 D,3,High Yield of Millet,Rainfeed,Yes,InOrganic,Good,2
3,4,KA622935/2017-18/24870613,LAKSHMIDEVAMMA W/O VENKATACHALAPATHI,0.50,5,78.557222,13.194722,7.60000 MAl,0.54000 N,0.15000 VL,...,0.83000 S,4.98000 S,0.50000 D,3,High Yield of Millet,Rainfeed,Yes,Organic,Moderate,3
4,5,KA622935/2017-18/24870613,LAKSHMIDEVAMMA W/O VENKATACHALAPATHI,0.80,5,78.557222,13.194722,7.60000 MAl,0.54000 N,0.15000 VL,...,0.83000 S,4.98000 S,0.50000 D,3,High Yield of Millet,Rainfeed,Yes,Organic,Moderate,3

WE REPLACE USING THE REGEX METHOD

In [10]:
df.replace('[a-zA-Z]',' ',regex=True) # but the other values containing the alphabet have also been swoshed!!!

,Sl.No,Sample No,Farmer Name,Land Area,Survey No,Longitude,Lattitude,pH,EC,OC,...,Cu,Mn,B,Fertility Index,Crop Name,Irrigation Pattern,Crop Rotation,Fertilizer Used,Yield Returns,YR(Label)
0,1,622935/2017-18/22220754,.,1.50,1,78.571944,13.167778,7.20000,0.91000,0.41000,...,1.38000,4.32000,0.60000,2,,,,,,3
1,2,622935/2018-19/25750616,.,0.16,3,78.292426,13.109093,6.60000,0.66000,0.12000,...,2.46000,58.79000,0.50000,2,,,,,,3
2,3,622935/2017-18/24870613,/,0.20,5,78.557222,13.194722,7.60000,0.54000,0.15000,...,0.83000,4.98000,0.50000,3,,,,,,2
3,4,622935/2017-18/24870613,/,0.50,5,78.557222,13.194722,7.60000,0.54000,0.15000,...,0.83000,4.98000,0.50000,3,,,,,,3
4,5,622935/2017-18/24870613,/,0.80,5,78.557222,13.194722,7.60000,0.54000,0.15000,...,0.83000,4.98000,0.50000,3,,,,,,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
753,754,622935/2017-18/22252367,,0.04,251,78.555556,13.193334,7.40000,0.43000,0.19000,...,0.43000,3.87000,0.70000,3,,,,,,2
754,755,622935/2018-19/25744704,/,0.35,368,78.343490,13.076823,7.20000,0.65000,0.73000,...,1.64000,44.28000,0.10000,4,,,,,,3
755,756,622935/2017-18/22220443,/,0.10,368,78.540277,13.195270,6.80000,0.62000,0.33000,...,0.91000,61.34000,1.10000,4,,,,,,3
756,757,622935/2017-18/22920950,. . /,1.30,368,78.586110,13.169444,6.40000,0.91000,0.49000,...,0.46000,5.74000,0.50000,3,,,,,,3
757,758,622935/2017-18/22920950,/,1.17,368,78.586110,13.169444,6.40000,0.91000,0.49000,...,0.46000,5.74000,0.50000,2,,,,,,3

In [11]:
df.head()

,Sl.No,Sample No,Farmer Name,Land Area,Survey No,Longitude,Lattitude,pH,EC,OC,...,Cu,Mn,B,Fertility Index,Crop Name,Irrigation Pattern,Crop Rotation,Fertilizer Used,Yield Returns,YR(Label)
0,1,KA622935/2017-18/22220754,S.Krishnamurthy,1.50,1,78.571944,13.167778,7.20000 MAl,0.91000 N,0.41000 L,...,1.38000 S,4.32000 S,0.60000 S,2,High Yield of Millet,Rainfeed,Yes,InOrganic,Moderate,3
1,2,KA622935/2018-19/25750616,S.NAGABHUSHANA,0.16,3,78.292426,13.109093,6.60000 SlAc,0.66000 N,0.12000 VL,...,2.46000 S,58.79000 S,0.50000 D,2,High Yield of Millet,Rainfeed,Yes,InOrganic,Moderate,3
2,3,KA622935/2017-18/24870613,G RAMAKRISHNAPPA S/O GURRAPPA,0.20,5,78.557222,13.194722,7.60000 MAl,0.54000 N,0.15000 VL,...,0.83000 S,4.98000 S,0.50000 D,3,High Yield of Millet,Rainfeed,Yes,InOrganic,Good,2
3,4,KA622935/2017-18/24870613,LAKSHMIDEVAMMA W/O VENKATACHALAPATHI,0.50,5,78.557222,13.194722,7.60000 MAl,0.54000 N,0.15000 VL,...,0.83000 S,4.98000 S,0.50000 D,3,High Yield of Millet,Rainfeed,Yes,Organic,Moderate,3
4,5,KA622935/2017-18/24870613,LAKSHMIDEVAMMA W/O VENKATACHALAPATHI,0.80,5,78.557222,13.194722,7.60000 MAl,0.54000 N,0.15000 VL,...,0.83000 S,4.98000 S,0.50000 D,3,High Yield of Millet,Rainfeed,Yes,Organic,Moderate,3

SO, HERE WE USE DICT

In [15]:
df.replace({
    'pH' : '[a-zA-Z]',
    'EC' : '[a-zA-Z]',
    'OC' : '[a-zA-Z]'
} , " " , regex = True , inplace= True)
df.head()

,Sl.No,Sample No,Farmer Name,Land Area,Survey No,Longitude,Lattitude,pH,EC,OC,...,Cu,Mn,B,Fertility Index,Crop Name,Irrigation Pattern,Crop Rotation,Fertilizer Used,Yield Returns,YR(Label)
0,1,KA622935/2017-18/22220754,S.Krishnamurthy,1.50,1,78.571944,13.167778,7.20000,0.91000,0.41000,...,1.38000 S,4.32000 S,0.60000 S,2,High Yield of Millet,Rainfeed,Yes,InOrganic,Moderate,3
1,2,KA622935/2018-19/25750616,S.NAGABHUSHANA,0.16,3,78.292426,13.109093,6.60000,0.66000,0.12000,...,2.46000 S,58.79000 S,0.50000 D,2,High Yield of Millet,Rainfeed,Yes,InOrganic,Moderate,3
2,3,KA622935/2017-18/24870613,G RAMAKRISHNAPPA S/O GURRAPPA,0.20,5,78.557222,13.194722,7.60000,0.54000,0.15000,...,0.83000 S,4.98000 S,0.50000 D,3,High Yield of Millet,Rainfeed,Yes,InOrganic,Good,2
3,4,KA622935/2017-18/24870613,LAKSHMIDEVAMMA W/O VENKATACHALAPATHI,0.50,5,78.557222,13.194722,7.60000,0.54000,0.15000,...,0.83000 S,4.98000 S,0.50000 D,3,High Yield of Millet,Rainfeed,Yes,Organic,Moderate,3
4,5,KA622935/2017-18/24870613,LAKSHMIDEVAMMA W/O VENKATACHALAPATHI,0.80,5,78.557222,13.194722,7.60000,0.54000,0.15000,...,0.83000 S,4.98000 S,0.50000 D,3,High Yield of Millet,Rainfeed,Yes,Organic,Moderate,3